<%= form_with(model: auction) do |form| %>
  <% if auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

      <ul>
        <% auction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_user.role == :admin %>
    <div class="field">
      
      <%= form.label :auction_owner %>
      <%= form.collection_select :user_id, @users, :id, :name%>
    </div>
  <%end%>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :expiration_date %>
    <%= form.datetime_select :expiration_date %>
  </div>

  <div class="field">
    <%= form.label :starting_price %>
    <%= form.text_field :starting_price %>
  </div>

  <div class="field">
    <%= form.select(:status, ['active', 'finished', 'aborted'], {include_blank: "Select something"}) %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
